/*RESPONSIVE*/
/* line 5, ../../scss/core/responsive.scss */
html {
  /*Grid Blocks*/
  /*Normal start at 3 columns, wide start at 2*/
  /*Basic Column Formatting*/
}
/* line 9, ../../scss/core/responsive.scss */
html #admin-menu {
  position: fixed;
}
@media only screen and (max-width: 480px) {
  /* line 5, ../../scss/core/responsive.scss */
  html {
    /*Disable Flash*/
  }
  /* line 31, ../../scss/core/responsive.scss */
  html body {
    -webkit-text-size-adjust: none;
  }
  /* line 36, ../../scss/core/responsive.scss */
  html .responsive-full {
    display: none;
  }
  /* line 40, ../../scss/core/responsive.scss */
  html .responsive-mobile {
    display: block;
  }
  /* line 44, ../../scss/core/responsive.scss */
  html .region-sidebar-first {
    width: 100%;
  }
  /* line 48, ../../scss/core/responsive.scss */
  html .region-content {
    width: 100%;
  }
  /* line 53, ../../scss/core/responsive.scss */
  html .front #page-wrapper .region-main .block {
    width: 100%;
  }
  /* line 58, ../../scss/core/responsive.scss */
  html .region-navigation {
    clear: left;
  }
  /* line 63, ../../scss/core/responsive.scss */
  html object[type="application/x-shockwave-flash"] {
    display: none;
  }
}
@media only screen and (max-width: 568px) and (max-height: 320px) {
  /* line 69, ../../scss/core/responsive.scss */
  html body {
    -webkit-text-size-adjust: none;
  }
}
@media only screen and (min-width: 321px) and (max-width: 800px) {
  /* line 76, ../../scss/core/responsive.scss */
  html .grid-block {
    width: 50%;
  }
}
@media only screen and (max-width: 320px) {
  /* line 76, ../../scss/core/responsive.scss */
  html .grid-block {
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  /* line 86, ../../scss/core/responsive.scss */
  html .grid-block-wide {
    width: 100%;
  }
}
@media only screen and (min-width: 700px) {
  /* line 95, ../../scss/core/responsive.scss */
  html .col-2 {
    width: 50%;
    float: left;
  }
  /* line 99, ../../scss/core/responsive.scss */
  html .col-2 > .content {
    padding: 0 1em;
  }
  /* line 104, ../../scss/core/responsive.scss */
  html .col-3 {
    width: 33%;
    float: left;
  }
  /* line 108, ../../scss/core/responsive.scss */
  html .col-3 > .content {
    padding: 0 1em;
  }
}

/*end of HTML wrapper*/
