/*STYLE.CONTENT.CSS*/
/*MAIN LOGO*/
/* line 7, ../../scss/core/style.content.scss */
#main-logo {
  float: left;
  display: block;
  padding: 1em;
  max-width: 160px;
}

/*Basic Menu Hover feature*/
/* line 16, ../../scss/core/style.content.scss */
li.expanded > ul {
  display: none;
}

/*MAIN MENU*/
/* line 29, ../../scss/core/style.content.scss */
.region-content-navigation #block-system-main-menu, .region-content-navigation #block-user-login, .region-content-navigation #block-system-user-menu {
  width: 100%;
  float: left;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.5);
  background: #a60000;
}
/* line 31, ../../scss/core/style.content.scss */
.region-content-navigation #block-system-main-menu h3, .region-content-navigation #block-user-login h3, .region-content-navigation #block-system-user-menu h3 {
  display: none;
}
/* line 35, ../../scss/core/style.content.scss */
.region-content-navigation #block-system-main-menu > .content, .region-content-navigation #block-user-login > .content, .region-content-navigation #block-system-user-menu > .content {
  padding: 0.5rem 1rem;
}
/* line 39, ../../scss/core/style.content.scss */
.region-content-navigation #block-system-main-menu > .content > ul.menu li, .region-content-navigation #block-user-login > .content > ul.menu li, .region-content-navigation #block-system-user-menu > .content > ul.menu li {
  float: left;
  position: relative;
}
/* line 44, ../../scss/core/style.content.scss */
.region-content-navigation #block-system-main-menu > .content > ul.menu li a, .region-content-navigation #block-user-login > .content > ul.menu li a, .region-content-navigation #block-system-user-menu > .content > ul.menu li a {
  font-family: "Rambla", sans-serif;
  color: white;
  font-weight: normal;
  font-size: 1rem;
  padding: 0.2em 1.5em;
  display: inline-block;
}

/* line 77, ../../scss/core/style.content.scss */
.region-content-navigation #block-user-login {
  background: #FFFFFF;
}

/* line 83, ../../scss/core/style.content.scss */
.comment-form {
  display: none;
}

/* line 88, ../../scss/core/style.content.scss */
#comments {
  margin-top: 0;
  padding-top: 1em;
  clear: left;
}
/* line 93, ../../scss/core/style.content.scss */
#comments ul.inline li.comment-add {
  display: block;
}

/* line 99, ../../scss/core/style.content.scss */
ul.inline li.comment-add {
  display: none;
}
