/*STYLE.REGION.CSS*/
/* line 5, ../../scss/core/style.region.scss */
body {
  background-color: #bf394b;
}

/* line 11, ../../scss/core/style.region.scss */
#page-wrapper,
.region-navigation {
  background: #F0F0F0;
  background-image: url("/profiles/gamerswithjobs/themes/panda/images/tissue-paper-50.png");
}
/* line 16, ../../scss/core/style.region.scss */
#page-wrapper > #page-wrapper-content, #page-wrapper > .content,
.region-navigation > #page-wrapper-content,
.region-navigation > .content {
  max-width: 1350px;
  background-color: #FFFFFF;
  margin: 0 auto;
}

/* line 29, ../../scss/core/style.region.scss */
#page-content {
  padding: 0.809em;
}

/* line 33, ../../scss/core/style.region.scss */
.region-header {
  background: #FFFFFF;
}

/* line 37, ../../scss/core/style.region.scss */
.region-content-header {
  margin: 0 auto;
  max-width: 1024px;
  padding-top: 1px;
}

/* line 43, ../../scss/core/style.region.scss */
#footer-wrapper {
  padding: 3em 0em;
  color: #FFFFFF;
  text-align: left;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
}
