/*STYLE.BASE.CSS*/
/*FONTS*/
/*@font-face {
  font-family: 'PandaIcons';
  src: url('/sites/all/themes/panda/images/PandaIcons-Regular.otf');
  font-weight: normal;
  font-style: normal;
}*/
@font-face {
  font-family: 'PandaIcons';
  src: url("/sites/all/themes/panda/images/PandaIcons-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

/* line 27, ../../scss/core/style.base.scss */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 90%;
  /*Set base font size.  Use em units after this.*/
  line-height: 1.8;
  margin: 0;
}

/* line 35, ../../scss/core/style.base.scss */
p {
  margin: 1em 0em;
}

/* line 39, ../../scss/core/style.base.scss */
.pull-quote {
  float: left;
  display: block;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  padding: 1em;
  padding: 1rem;
  margin: 1em 1.5em 1em 0;
  margin: 1rem 1.5rem 1rem 0;
  width: 33%;
  box-sizing: border-box;
  font-size: 1.2em;
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  font-style: italic;
}

/* line 56, ../../scss/core/style.base.scss */
blockquote {
  margin: 1.618em;
  padding: 1.618em;
  border: 1px solid #DEDEDE;
}
/* line 61, ../../scss/core/style.base.scss */
blockquote p {
  margin-top: 0;
}

/* line 66, ../../scss/core/style.base.scss */
.legal {
  color: #A3A3A3;
  font-size: 0.61805em;
  /* 10px */
}

/* line 71, ../../scss/core/style.base.scss */
img {
  border: 0;
  max-width: 100%;
  display: block;
}

/* line 77, ../../scss/core/style.base.scss */
iframe {
  max-width: 100%;
  max-height: 100%;
}

/* line 82, ../../scss/core/style.base.scss */
object {
  max-width: 100%;
  max-height: 100%;
}

/* line 88, ../../scss/core/style.base.scss */
div.block-title > h3 {
  margin: 0;
}

/* line 92, ../../scss/core/style.base.scss */
h1, h2, h3, h4, h5, h6, pre, ul, ol, dl, hr, table, fieldset {
  margin: 1em 0;
}

/*HEADERS*/
/* line 98, ../../scss/core/style.base.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0.61805em 0;
  font-weight: normal;
  font-family: "Raleway", sans-serif;
  line-height: 1.38177;
  clear: left;
}

/* line 107, ../../scss/core/style.base.scss */
h1 {
  font-size: 2em;
  color: #bf3043;
  text-transform: capitalize;
  margin: 0 0 0.4em 0;
}

/* line 115, ../../scss/core/style.base.scss */
h2 {
  font-size: 1.618em;
  color: #606060;
}

/* line 120, ../../scss/core/style.base.scss */
h3, h4, h5 {
  font-size: 1.25em;
  color: #606060;
}

/* line 133, ../../scss/core/style.base.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
}

/* line 139, ../../scss/core/style.base.scss */
.meta-label {
  text-transform: uppercase;
  font-size: 0.7em;
  font-size: 0.7rem;
  color: #909090;
}

/*LINKS*/
/* line 147, ../../scss/core/style.base.scss */
a {
  color: #bf3043;
  cursor: pointer;
  text-decoration: none;
  font-famliy: "Raleway", sans-serif;
}

/* line 154, ../../scss/core/style.base.scss */
a:hover {
  color: #bf3043;
}

/*Drupal Links*/
/* line 161, ../../scss/core/style.base.scss */
ul.inline li {
  padding: 0;
}

/* line 165, ../../scss/core/style.base.scss */
li a.active {
  color: #bf3043;
}

/* line 169, ../../scss/core/style.base.scss */
.more-link {
  display: none;
}

/* line 176, ../../scss/core/style.base.scss */
ul.links a,
ul.links a:hover,
.form-actions input,
.more-link a {
  color: white;
  background: #bf3043;
  font-weight: normal;
  padding: 0.1em 0.8em;
  padding: 0.1rem 0.8rem;
  margin: 0.5em 0.5em 0 0;
  margin: 0.5rem 0.5rem 0 0;
  font-size: 0.7em;
  font-size: 0.7rem;
  text-transform: capitalize;
  border: none;
  display: inline-block;
}
/* line 191, ../../scss/core/style.base.scss */
.comments ul.links a, .comments
ul.links a:hover, .comments
.form-actions input, .comments
.more-link a {
  font-size: 0.62em;
}

/* line 198, ../../scss/core/style.base.scss */
html body span.ext {
  background: url("/sites/all/themes/panda/images/extlink.png") right center no-repeat;
  padding-right: 12px;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 198, ../../scss/core/style.base.scss */
  html body span.ext {
    /* on retina, use image that's scaled by 2 */
    background-image: url("/sites/all/themes/panda/images/extlink-2x.png");
    background-size: 10px 10px;
  }
}

/*LIST ITEMS*/
/* line 205, ../../scss/core/style.base.scss */
ul, ol, li {
  padding: 0;
  margin: 0;
}

/* line 210, ../../scss/core/style.base.scss */
ul {
  list-style-type: none;
}

/* line 221, ../../scss/core/style.base.scss */
.region-content-main ul,
.region-content-main ol, .fancybox-overlay ul,
.fancybox-overlay ol {
  padding-left: 2em;
  /* LTR */
  margin-bottom: 1em;
}
/* line 227, ../../scss/core/style.base.scss */
.region-content-main li > ul,
.region-content-main li > ol, .fancybox-overlay li > ul,
.fancybox-overlay li > ol {
  margin: 0;
}
/* line 235, ../../scss/core/style.base.scss */
.region-content-main ol, .fancybox-overlay ol {
  list-style-type: decimal;
}
/* line 238, ../../scss/core/style.base.scss */
.region-content-main ol ol, .fancybox-overlay ol ol {
  list-style-type: lower-alpha;
}
/* line 241, ../../scss/core/style.base.scss */
.region-content-main ol ol ol, .fancybox-overlay ol ol ol {
  list-style-type: lower-roman;
}

/*LI OVERRIDES*/
/* line 250, ../../scss/core/style.base.scss */
.item-list ul {
  margin: 1em 0;
  margin: 1rem 0;
}

/* line 257, ../../scss/core/style.base.scss */
.item-list ul ul, .item-list ul ol,
.item-list ol ol, .item-list ol ul {
  margin: 0;
}

/* line 265, ../../scss/core/style.base.scss */
.item-list ul li,
ul.menu li,
li.expanded,
li.collapsed,
li.leaf {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

/*Selections*/
/* line 274, ../../scss/core/style.base.scss */
::selection {
  background-color: #e57382;
  color: white;
}

/*fancybox overrides*/
/* line 280, ../../scss/core/style.base.scss */
.fancybox-overlay ul li {
  list-style-image: inherit;
}

/*TABLES*/
/* line 286, ../../scss/core/style.base.scss */
table {
  width: 100%;
  border: none;
  border-collapse: collapse;
}

/* line 292, ../../scss/core/style.base.scss */
table .active {
  /* system theme override */
  background: none;
}

/* line 296, ../../scss/core/style.base.scss */
thead {
  border: 1px solid #0097DB;
}
/* line 299, ../../scss/core/style.base.scss */
thead tr {
  background: #0097db;
  background: -moz-linear-gradient(top, #01b5f4 0%, #0079c2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #01b5f4), color-stop(100%, #0079c2));
  background: -webkit-linear-gradient(top, #01b5f4 0%, #0079c2 100%);
  background: -o-linear-gradient(top, #01b5f4 0%, #0079c2 100%);
  background: -ms-linear-gradient(top, #01b5f4 0%, #0079c2 100%);
  background: linear-gradient(top, #01b5f4 0%, #0079c2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#01b5f4', endColorstr='#0079c2',GradientType=0 );
}
/* line 302, ../../scss/core/style.base.scss */
thead tr th {
  padding: 0.38198em 0.8em;
  border-top: none;
  border-bottom: none;
  border-right: 2px solid #1275b4;
  border-left: 2px solid #109ded;
  font-weight: normal;
  text-decoration: none;
  color: #FFFFFF;
}
/* line 314, ../../scss/core/style.base.scss */
thead tr th:first-child {
  border-left: none;
}
/* line 318, ../../scss/core/style.base.scss */
thead tr th:last-child {
  border-right: none;
}
/* line 322, ../../scss/core/style.base.scss */
thead tr th img {
  margin: 0 0 0 10px;
}
/* line 330, ../../scss/core/style.base.scss */
thead tr th.active a,
thead tr th a,
thead tr th a:hover,
thead tr th a:visited {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: normal;
}

/* line 339, ../../scss/core/style.base.scss */
tbody {
  background: #fff;
  color: #606060;
}

/* line 347, ../../scss/core/style.base.scss */
tr,
tr.even,
tr.odd {
  padding: 0;
  background: url("/sites/all/themes/panda/images/table-row-bottom-border.png") center bottom no-repeat white;
  border: none;
}

/* line 353, ../../scss/core/style.base.scss */
tbody tr:last-child {
  background: none;
}

/* line 357, ../../scss/core/style.base.scss */
td {
  padding: 0.61805em 1em;
  border: none;
}

/* line 363, ../../scss/core/style.base.scss */
td.active {
  color: #0193D5;
}

/*FORMS*/
/* line 369, ../../scss/core/style.base.scss */
.element-invisible {
  padding: 0px;
  margin: 0px;
}

/* line 374, ../../scss/core/style.base.scss */
form {
  margin: 1em 0;
  padding: 0;
}

/* line 379, ../../scss/core/style.base.scss */
fieldset {
  padding: 1em;
  border: 1px solid #A0A0A0;
  border-radius: 2px;
  margin: 1em 0;
}
/* line 385, ../../scss/core/style.base.scss */
fieldset.collapsed {
  border: none;
}

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
/* line 400, ../../scss/core/style.base.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 413, ../../scss/core/style.base.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 426, ../../scss/core/style.base.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
/* line 435, ../../scss/core/style.base.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* line 441, ../../scss/core/style.base.scss */
.resizable-textarea .grippie {
  display: none;
}

/* line 445, ../../scss/core/style.base.scss */
div.text-wrap {
  background: #FFFFFF;
  border: 1px solid #D0D0D0;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2) inset;
  padding: 0.2rem 0.5rem;
  margin: 0.5rem 0 0.5rem;
  width: auto;
  max-width: 400px;
  -webkit-transition: border linear 0.3s, box-shadow linear 0.3s;
  -moz-transition: border linear 0.3s, box-shadow linear 0.3s;
  -ms-transition: border linear 0.3s, box-shadow linear 0.3s;
  -o-transition: border linear 0.3s, box-shadow linear 0.3s;
  transition: border linear 0.3s, box-shadow linear 0.3s;
}
/* line 460, ../../scss/core/style.base.scss */
div.text-wrap.focused {
  box-shadow: 0 0 7px 1px #bf3043;
  border: 1px solid #color_pri;
}

/* line 469, ../../scss/core/style.base.scss */
.form-item input.error, .form-item textarea.error, .form-item select.error {
  border: none;
  color: #bf3043;
}

/* line 478, ../../scss/core/style.base.scss */
input[type=text],
input[type=search],
textarea,
input[type=password],
input[type=email] {
  padding: 0;
  margin: 0;
  width: 100%;
  outline: none;
  border: none;
  font-size: 100%;
  line-height: 1.618em;
}

/* line 490, ../../scss/core/style.base.scss */
input[type=submit] {
  -webkit-appearance: none;
  border-radius: none;
}

/* line 495, ../../scss/core/style.base.scss */
label {
  display: none;
  color: #17396C;
  font-size: 1.1em;
  font-weight: normal;
  margin: 0.5em 0;
}

/* line 507, ../../scss/core/style.base.scss */
input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
  color: #606060;
  font-size: 0.7em;
  font-size: 0.7rem;
  text-transform: uppercase;
}

/* line 514, ../../scss/core/style.base.scss */
div.form-item label {
  display: block;
  display: none;
  font-weight: normal;
  margin: 1em 0;
  text-transform: capitalize;
  color: #525252;
}

/* line 523, ../../scss/core/style.base.scss */
.form-item label.option {
  display: inline;
  font-weight: normal;
  color: #525252;
}

/* line 529, ../../scss/core/style.base.scss */
.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 2.7em;
}

/* line 533, ../../scss/core/style.base.scss */
div.form-item input.form-radio {
  vertical-align: top;
}

/* line 537, ../../scss/core/style.base.scss */
.form-required {
  color: #909090;
}

/* line 541, ../../scss/core/style.base.scss */
.form-item .description {
  font-size: 0.85em;
  color: #999;
}

/* line 547, ../../scss/core/style.base.scss */
.form-checkboxes .form-item,
.form-radios .form-item {
  margin: 0;
  /* Drupal core uses "0.4em 0" */
}

/* line 551, ../../scss/core/style.base.scss */
form.webform-client-form input#edit-submit.form-submit {
  border-radius: 4px;
}

/* line 556, ../../scss/core/style.base.scss */
.container-inline div,
.container-inline label {
  display: inline;
}

/* line 560, ../../scss/core/style.base.scss */
.label-inline {
  font-weight: bold;
  display: inline;
}

/**
 * ezMark jQuery Plugin
 **/
/* line 569, ../../scss/core/style.base.scss */
.ez-hide {
  opacity: 0;
  filter: alpha(opacity=0);
}

/* line 574, ../../scss/core/style.base.scss */
.ez-checkbox,
.ez-radio {
  display: inline-block;
  margin-bottom: -4px;
  /*for win*/
  vertical-align: top;
  /*for osx*/
  height: 15px;
  width: 15px;
  border: 1px solid #D0D0D0;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2) inset;
}

/* line 588, ../../scss/core/style.base.scss */
.ez-radio {
  border-radius: 15px;
}

/* line 593, ../../scss/core/style.base.scss */
.ez-checked,
.ez-selected {
  border: 1px solid #bf3043;
  background: #d25162;
  background: -moz-linear-gradient(top, #e57382 0%, #bf3043 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e57382), color-stop(100%, #bf3043));
  background: -webkit-linear-gradient(top, #e57382 0%, #bf3043 100%);
  background: -o-linear-gradient(top, #e57382 0%, #bf3043 100%);
  background: -ms-linear-gradient(top, #e57382 0%, #bf3043 100%);
  background: linear-gradient(top, #e57382 0%, #bf3043 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e57382', endColorstr='#bf3043',GradientType=0 );
}

/*View Grids*/
/* line 600, ../../scss/core/style.base.scss */
.grid-block {
  width: 33%;
  float: left;
}
/* line 604, ../../scss/core/style.base.scss */
.grid-block h1, .grid-block h2, .grid-block h3, .grid-block h4, .grid-block h5, .grid-block h6 {
  margin-top: 1em;
}
/* line 608, ../../scss/core/style.base.scss */
.grid-block > .content {
  padding: 1.618em;
}
/* line 611, ../../scss/core/style.base.scss */
.grid-block > .content img {
  border-radius: 2px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

/* line 618, ../../scss/core/style.base.scss */
.grid-block-wide {
  width: 50%;
  float: left;
}
/* line 622, ../../scss/core/style.base.scss */
.grid-block-wide > .content {
  padding: 1.618em;
}

/* line 629, ../../scss/core/style.base.scss */
.views-row {
  margin: 1em 0;
  margin: 1rem 0;
  background-repeat: repeat-x;
  background-position: bottom;
}
/* line 649, ../../scss/core/style.base.scss */
.views-row.views-row-last {
  background-image: none;
}

/* line 655, ../../scss/core/style.base.scss */
.view-header .views-row, .view-footer .views-row {
  padding: 0;
  background: none;
}
/* line 660, ../../scss/core/style.base.scss */
.view-header .views-row.views-row-odd, .view-footer .views-row.views-row-odd {
  background: none;
}
/* line 664, ../../scss/core/style.base.scss */
.view-header .views-row.views-row-even, .view-footer .views-row.views-row-even {
  background: none;
}

/*Admin Editing*/
/*
.region-main ul.primary {
  border: none;
  padding-left: 0;
  position: fixed;
  z-index: 4;
  top: 4em;
  right: 2em;
  
  li a,
  li.active a,
  li a:hover,
  li.active a:hover {
    background: none;
    color: white;
    @include panda-linear-gradient(#909090, #606060);
    border: 1px solid #606060;
    border-radius: 2px;
    font-weight: normal;
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.3);
    padding: 0.2em 1.5em;
  }
  
  li.active a {
    display: none;
  }
}

*/
/* line 702, ../../scss/core/style.base.scss */
.filter-wrapper {
  display: none;
}
