/*STYLE.REGION.CSS*/
/* line 5, ../../scss/core/style.region.scss */
body {
  background-color: #a60000;
  background-image: url("/sites/all/themes/panda/images/tissue-paper.png");
}

/* line 10, ../../scss/core/style.region.scss */
#page-wrapper {
  background: #FFFFFF;
  background-image: url("/sites/all/themes/panda/images/tissue-paper-50.png");
}

/* line 15, ../../scss/core/style.region.scss */
#page-content {
  padding: 0.809em;
}

/* line 19, ../../scss/core/style.region.scss */
.region-header {
  background: white;
  background-image: url("/sites/all/themes/panda/images/tissue-paper-50.png");
}

/* line 24, ../../scss/core/style.region.scss */
.region-content-header {
  margin: 0 auto;
  max-width: 1024px;
  padding-top: 1px;
}

/* line 60, ../../scss/core/style.region.scss */
#footer-wrapper {
  padding: 3em 0em;
  color: #FFFFFF;
  text-align: left;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
}
