/*STYLE.CONTENT.CSS*/
/*MAIN LOGO*/
/* line 7, ../../scss/core/style.content.scss */
#main-logo {
  float: left;
  display: block;
  padding: 1em;
  max-width: 160px;
}

/*Basic Menu Hover feature*/
/* line 16, ../../scss/core/style.content.scss */
li.expanded > ul {
  display: none;
}

/*MAIN MENU*/
/* line 29, ../../scss/core/style.content.scss */
.region-content-navigation #block-system-main-menu, .region-content-navigation #block-user-login, .region-content-navigation #block-system-user-menu {
  width: 100%;
  float: left;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.5);
  background: #a60000;
}
/* line 31, ../../scss/core/style.content.scss */
.region-content-navigation #block-system-main-menu h3, .region-content-navigation #block-user-login h3, .region-content-navigation #block-system-user-menu h3 {
  display: none;
}
/* line 35, ../../scss/core/style.content.scss */
.region-content-navigation #block-system-main-menu > .content, .region-content-navigation #block-user-login > .content, .region-content-navigation #block-system-user-menu > .content {
  padding: 0.5rem 1rem;
}
/* line 39, ../../scss/core/style.content.scss */
.region-content-navigation #block-system-main-menu > .content > ul.menu li, .region-content-navigation #block-user-login > .content > ul.menu li, .region-content-navigation #block-system-user-menu > .content > ul.menu li {
  float: left;
  position: relative;
}
/* line 44, ../../scss/core/style.content.scss */
.region-content-navigation #block-system-main-menu > .content > ul.menu li a, .region-content-navigation #block-user-login > .content > ul.menu li a, .region-content-navigation #block-system-user-menu > .content > ul.menu li a {
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: normal;
  font-size: 1rem;
  padding: 0.2em 1.5em;
  display: inline-block;
}

/* line 77, ../../scss/core/style.content.scss */
.region-content-navigation #block-user-login {
  background: #FFFFFF;
}

/* line 83, ../../scss/core/style.content.scss */
ul.inline li.comment-add {
  display: none;
}

/* line 91, ../../scss/core/style.content.scss */
.region-sidebar-first .item-list ul li,
.region-sidebar-second .item-list ul li {
  padding: 0.4em;
  padding: 0.4rem;
  line-height: 1em;
  line-height: 1rem;
  border-bottom: 1px solid #DEDEDE;
}

/* line 113, ../../scss/core/style.content.scss */
.comment-form {
  display: none;
}

/* line 118, ../../scss/core/style.content.scss */
#comments {
  margin-top: 0;
  padding-top: 1em;
  clear: left;
}
/* line 123, ../../scss/core/style.content.scss */
#comments ul.inline li.comment-add {
  display: block;
}
/* line 126, ../../scss/core/style.content.scss */
.not-logged-in #comments ul.inline li.comment-add {
  display: none;
}

/* line 132, ../../scss/core/style.content.scss */
.comment {
  position: relative;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2) inset;
  border-radius: 2px;
  margin-bottom: 0.5em;
  margin-bottom: 0.5rem;
  padding: 0.5em;
  padding: 0.5rem;
}
/* line 143, ../../scss/core/style.content.scss */
.comment:before {
  content: url("/sites/all/themes/panda/images/comment-arrow.png");
  position: absolute;
  top: 1.62em;
  top: 1.62rem;
  left: -12px;
}
/* line 154, ../../scss/core/style.content.scss */
.comment .user {
  padding: 0.5em;
  padding: 0.5rem;
}
/* line 160, ../../scss/core/style.content.scss */
.comment .user .user-picture {
  float: left;
  max-width: 100px;
  margin-right: 1em;
  margin-right: 1rem;
  padding: 4px;
}
/* line 171, ../../scss/core/style.content.scss */
.comment .user .username {
  float: left;
}
/* line 177, ../../scss/core/style.content.scss */
.comment .timestamp {
  float: right;
  color: #909090;
  border-bottom: 1px solid #DEDEDE;
  padding-left: 2em;
  padding-left: 2rem;
}
/* line 189, ../../scss/core/style.content.scss */
.comment .body {
  border-top: 1px solid #E5E5E5;
  clear: both;
}
/* line 199, ../../scss/core/style.content.scss */
.comment .body .main,
.comment .body .signature {
  margin: 1em;
  margin: 1rem;
}
