//Colors File, imported by _base.scss

//Example of a color
$white : #FFFFFF;
$color_pri : #A60000;
$color_pri_light : #CF5050;
$color_sec : #606060;
$color_sec_light : #909090;
$color_hl1 : #909090;
$color_light_gray : #DEDEDE;


//Primary Color:
//8D1495	76237B	6A0A71	CF58D8	D287D8
//Secondary Color A:
//CA1A55	A62F57	980D3C	EB5E8E	EB92B0
//Secondary Color B:
//52209B	4E2C80	391075	9363DA	AD8FDA


//Fonts

$header_font : 'Raleway', sans-serif;
$body_font : 'Open Sans', sans-serif;

// Padding Rules

@mixin panda-content-margin(){
  margin: 0.82em;
  margin: 0.82rem;
}

// Structure
$max_width : 1350px;
