@import "base";

/*STYLE.CONTENT.CSS*/

/*MAIN LOGO*/

#main-logo {
  float: left;
  display: block;
  padding: 1em;
  max-width: 160px;
}

/*Basic Menu Hover feature*/

li.expanded > ul {
  display: none;
}

li.expanded:hover > ul {
  //display: block;
}

/*MAIN MENU*/

.region-content-navigation {
  
  
  #block-system-main-menu, #block-system-user-menu {
  
    h3 {
      display: none;
    }
    
    & > .content {
      //padding: 0.5rem 1rem;
      
      & > ul.menu {
        li {
          float: left;
          position: relative;

          a {
            font-family: $header_font;
            color: white;
            font-weight: normal;
            font-size: 1rem;

            padding: 0.2em 1.5em;
            display: inline-block;
          }
        }
      }
    }
    
    width: 100%;
    float: left;
    //border-radius: 2px;
    box-sizing: border-box;
    //box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.5);
    
    background: #404040;
    //@include panda-linear-gradient(#909090, $color_sec);

    margin-top: 100px;
    position: relative;

    &:before {
      content: url('/sites/all/themes/panda/images/home.png');
      position: absolute;
      top: -114px;
      left: 1em;
      left: 1rem;
    }

  }
}

// USER MENU


// USER LOGIN

.region-content-navigation {
  position: relative;
}

.region-content-navigation #block-user-login {
  background: #FFFFFF;
  padding-top: 1px; // push the margin off the top

  //position: relative;
  //float: right;
  //margin: 0.5em;
  //margin: 0.5rem;

  //temp
  position: absolute;
  right: 1rem;
  top: 75px;

  h3 {
    //display: none;
    cursor: pointer;
    margin-right: 0.62em;
    margin-right: 0.62rem;
    
    @extend .meta-label;
    color: $color_pri;
  }

  &.active form {
    display: block;
  }

  form {
    display: none;
    position: absolute;
    right: -5px;
    top: 0;
    margin: 2rem 0 0 0;
    background: #303030;
    //padding: 1rem;
    border-radius: 2px;
    z-index: 10;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);

    a {
      color: #DEDEDE;
    }
  }

  .form-item, .item-list {
    margin: 1em;
    margin: 1rem;
    padding: 0;
  }

  .form-actions {
    margin: 0;

    .form-submit {
      margin: 0;
      width: 100%;
      background: #F5F5F5;
      color: $color_sec;
      text-transform: uppercase;
      font-size: 0.8em;
      font-size: 0.8rem;
      padding: 0.5em;
      padding: 0.5rem;
      cursor: pointer;
    }
  }

  .text-wrap {
    //display: inline-block;
    width: 12em;
    width: 12rem;
    //margin: 0 1em 0 0;
    //margin: 0 1rem 0 0;
    padding: 0em 0.4em;
    padding: 0rem 0.4rem;

    &.focused {
      box-shadow: 0 0 2px 1px rgba($color_pri, 0.5);
    }
  }

  ul {
    padding: 0;
    margin: 0;
  }

}

//hide conditional comment button
ul.inline li.comment-add {
  display: none;
}

//Sidebar

.region-sidebar-first {
  background-color: rgb(218, 218, 218);
  margin-right: -1.5rem;
  margin-left: 1.5rem;
  margin-top: 2rem;
  background-image: url('/sites/all/themes/panda/images/tissue-paper-50.png');
  border-radius: 2px;
  float: right;
}

.region-sidebar-first,
.region-sidebar-second {
  .item-list ul li {
    padding: 0.4em;
    padding: 0.4rem;
    line-height: 1em;
    line-height: 1rem;

    border-bottom: 1px solid $color_light_gray;

    &:nth-child(even){
      //background-color: #F0F0F0;
    }
  }
} 

//Forum

.region-main .node-forum {
  .hero {
    margin: 0 0 1em 0;
    margin: 0 0 1rem 0;
    position: relative;

    img {
      border-radius: 2px;
    }

    .user {
      padding: 0.2em 0.5em;
      padding: 0.2rem 0.5rem;

      position: absolute;
      top: 0;

      border-radius: 0 0 2px 0;
      background: #FFFFFF;
    }

    .caption {
      padding: 0.2em 0.5em;
      padding: 0.2rem 0.5rem;

      background: rgba($color_sec, 0.7);
      color: white;
      text-transform: uppercase;
      font-style: italic;
      font-size: 0.7em;
      font-size: 0.7rem;

      right: -0.62em;
      right: -0.62rem;
      bottom: 33%;
      position: absolute;
      max-width: 66%;
    }

    .comment-count {
      position: absolute;
      top: -1.62em;
      top: -1.62rem;
      right: 3em;
      right: 3rem;
      
      float: right;

      span {
        border-bottom: 1px solid $color_light_gray;
      }
    }

    .social-links {
      position: relative;
      //float: right;

      .social-icon {
        position: absolute;
        top: -1.62em;
        top: -1.62rem;
        right: 0;
        cursor: pointer;

        span {
          color: $color_pri;

          border-bottom: 1px solid $color_pri;
        }
      }

      .easy_social_box {
        display: none;

        height: auto; //override module default
        position: absolute;
        top: 0.5em;
        top: 0.5rem;
        right: -0.62em;
        right: -0.62rem;
        z-index: 10;

        padding: 1em;
        padding: 1rem;

        background: rgba($color_sec, 0.7);

        .easy_social-widget {
          clear: right;
          float: right;
          margin-bottom: 1em;
          margin-bottom: 1rem;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      &:hover .easy_social_box {
        //display: block;
      }
    }
  }

  // article end marker
  .field-name-body p:last-child:after {
    content: '';
    display: inline-block;
    
    width: 0.62em;
    width: 0.62rem;
    height: 0.62em;
    height: 0.62rem;
    
    border-radius: 0px;
    
    background: $color_sec;
    margin-left: 0.5em;
    margin-left: 0.5rem;  
  }
}

//Comments

.comment-form {
  display: none;
}

//show new comment button
#comments {
  margin-top: 0;
  padding-top: 1em;
  clear: left;
  
  ul.inline li.comment-add {
    display: block;

    .not-logged-in & {
      display: none;
    }
  }
}

.comment {
  position: relative;
  
  border-top: 1px solid $color_light_gray;
  border-radius: 2px;
  margin-bottom: 0.5em;
  margin-bottom: 0.5rem;
  //padding: 0.5em;
  //padding: 0.5rem;

  /*&:before {
    content: url('/sites/all/themes/panda/images/comment-arrow.png');
    position: absolute;
    top: 1.62em;
    top: 1.62rem;
    left: -13px;
  }*/

  &.odd {
  }

  .user {
    padding: 0.5em;
    padding: 0.5rem;
    position: relative;
    min-height: 100px;

    .user-picture {
      float: left;
      max-width: 84px;
      margin-right: 1em;
      margin-right: 1rem;
      padding: 4px;
    }

    .user-labels {
      //position: absolute;
      //bottom: 0.62em;
      //bottom: 0.62rem;
      //left: 115px;
      float: left;
    }

    .username {
      line-height: 1em;
      line-height: 1rem;
    }


    .user-tag,
    .user-location {
      @extend .username;

      font-size: 0.7em;
      font-size: 0.7rem;
    }
    
    .user-location {
      margin-top: 0.2em;
      margin-top: 0.2rem;
    }

    .user-accounts {
      & > div {
        display: inline;

        font-size: 0.7em;
        font-size: 0.7rem;
      }
    }

  }

  .timestamp {
    float: right;
    margin: 0.5em;
    margin: 0.5rem;
  }

  .body {
    border-top: 1px solid $color_light_gray;
    clear: both;

    .main,
    .signature {
      margin: 1em;
      margin: 1rem;
    }
  }
}
