@import "base";

/*STYLE.CONTENT.CSS*/

/*MAIN LOGO*/

#main-logo {
  float: left;
  display: block;
  padding: 1em;
  max-width: 160px;
}

/*Basic Menu Hover feature*/

li.expanded > ul {
  display: none;
}

li.expanded:hover > ul {
  //display: block;
}

/*MAIN MENU*/

.region-content-navigation {
  
  
  #block-system-main-menu, #block-user-login, #block-system-user-menu {
  
    h3 {
      display: none;
    }
    
    & > .content {
      padding: 0.5rem 1rem;
      
      & > ul.menu {
        li {
          float: left;
          position: relative;
          //width: 100%;

          a {
            font-family: $header_font;
            color: white;
            font-weight: normal;
            font-size: 1rem;

            padding: 0.2em 1.5em;
            //margin: 0.5em 1em 0.5em 0;
            display: inline-block;
          }
        }
      }
    }
    
    width: 100%;
    float: left;
    //@include panda-linear-gradient($color_pri_light, $color_pri);
    //border: 1px solid $color_pri;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.5);
    
    background: $color_pri;
    //background-image: url(/sites/all/themes/panda/images/tissue-paper.png);
    
  }
}

// USER MENU


// USER LOGIN

.region-content-navigation #block-user-login {
  background: #FFFFFF;

}

//Comments
.comment-form {
  display: none;
}

//show new comment button
#comments {
  margin-top: 0;
  padding-top: 1em;
  clear: left;
  
  ul.inline li.comment-add {
    display: block;
  }
}

//hide conditional comment button
ul.inline li.comment-add {
  display: none;
}

