// ==================
//      Comments
// ==================
.comment-form {
  //display: none;
}

//show new comment button
#comments {
  margin-top: 0;
  padding-top: 1em;
  clear: both;
  
  ul.inline li.comment-add {
    display: block;

    .not-logged-in & {
      display: none;
    }
  }
}

.comment {
  position: relative;
  
  &.comment-num-1 {
    border-top: 1px solid $color_light_gray;
  }

  border-radius: 2px;
  margin-bottom: 0.5em;
  margin-bottom: 0.5rem;

  &.odd {
  }

  .user {
    padding: 0.5em;
    padding: 0.5rem;
    position: relative;
    min-height: 100px;
    width: 115px;
    float: left;

    .user-picture {
      
      max-width: 84px;
      padding: 4px 0;
      margin: 0 auto;

      img {
        border-radius: 2px;
        box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
        margin: 5px 0;
      }
    }

    .user-labels {
      clear: left;
    }

    .username {
      line-height: 1em;
      line-height: 1rem;
    }


    .user-tag,
    .user-location {
      @extend .username;

      font-size: 0.7em;
      font-size: 0.7rem;
    }
    
    .user-location {
      margin-top: 0.2em;
      margin-top: 0.2rem;
    }

    .user-accounts {
      text-align: center;

      & > div {
        display: inline;

        font-size: 0.7em;
        font-size: 0.7rem;
      }
    }

  }

  .comment-footer {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5em 2em;
    padding: 0.5rem 2rem;
    border-color: #dedede;
    border-style: solid;
    border-width: 1px 0;
    text-align: right;
    clear: both;

    .comment-actions {
      display: inline-block;
      vertical-align: top;
      margin-right: 1em;
      margin-right: 1rem;

      li {
        display: inline;
      }
    }
  }

  .timestamp {
    display: inline;
  }

  .body {
    margin-left: 115px;

    .main,
    .signature {
      margin: 1em;
      margin: 1rem;
      padding: 0 1em;
      padding: 0 1rem;
    }
  }
}