// ==================
//      Sidebar
// ==================

.region-sidebar-first,
.region-sidebar-second {

  & > .content {
    //padding: 1em;
    //padding: 1rem;
  }

  .item-list ul li {
    //padding: 0.4em;
    //padding: 0.4rem;
    //line-height: 1em;
    //line-height: 1rem;

    //border-bottom: 1px solid $color_light_gray;
  }
}

.featured-block {
  position: relative;
  min-height: 5em;
  min-height: 5rem;

  .section {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.2em 0.7em;
    border-radius: 0 0 0 2px;
    background-color: white;
    
    font-size: 1em;
    font-size: 1rem;
  }

  &.color-red .section {color: $color_accent_red;}
  &.color-blue .section {color: $color_accent_blue;}
  &.color-yellow .section {color: $color_accent_yellow;}
  &.color-green .section {color: $color_accent_green;}
  &.color-orange .section {color: $color_accent_orange;}
  &.color-purple .section {color: $color_accent_purple;}
  &.color-brown .section {color: $color_accent_brown;}

  .hero {

  }

  .field-name-field-hero {
    img {
      border-radius: 2px 2px 0 0;
    }
  }

  .title-block {
    width: 100%;

    & > .content {
      padding: 1em;
      padding: 1rem;

      border-radius: 0 0 2px 2px;

      h3 {
        color: #FFFFFF;
        margin: 0;
        font-size: 1em;
        font-size: 1rem;

        a,
        a:hover {
          color: #FFFFFF;
        }
      }
    }
  }

  &.color-red .title-block > .content {background-color: $color_accent_red;}
  &.color-blue .title-block > .content {background-color: $color_accent_blue;}
  &.color-yellow .title-block > .content {background-color: $color_accent_yellow;}
  &.color-green .title-block > .content {background-color: $color_accent_green;}
  &.color-orange .title-block > .content {background-color: $color_accent_orange;}
  &.color-purple .title-block > .content {background-color: $color_accent_purple;}
  &.color-brown .title-block > .content {background-color: $color_accent_brown;}

  .comment-count {
    float: right;

    .count {
      color: #FFFFFF;
      font-size: 1.2em;
      font-size: 1.2rem;
      line-height: 1em;
      line-height: 1rem;
      vertical-align: top;
    }

    .comment.icon:before {
      color: #FFFFFF;
    }
  }

}

