// ==================
//      Sidebar
// ==================

.region-sidebar-first,
.region-sidebar-second {

  & > .content {
    padding: 1em;
    padding: 1rem;
  }

  .item-list ul li {
    padding: 0.4em;
    padding: 0.4rem;
    line-height: 1em;
    line-height: 1rem;

    border-bottom: 1px solid $color_light_gray;
  }
}

