// ==================
//      Main Menu
// ==================

/*Basic Menu Hover feature*/
li.expanded > ul {
  display: none;
}

li.expanded:hover > ul {
  //display: block;
}

.region-content-navigation {
  
  
  #block-system-main-menu, #block-system-user-menu {
    box-sizing: border-box;
    background: #404040;

    h3 {
      display: none;
    }
    
    & > .content {
      //padding: 0.5rem 1rem;
      
      & > ul.menu {
        li {
          float: left;
          position: relative;

          @media #{$mq-not-desktop} {
            width: 100%;
          }

          a {
            font-family: $header_font;
            color: white;
            font-weight: normal;
            font-size: 1rem;

            padding: 0.2em 1.5em;
            display: inline-block;
          }
        }
      }
    }
  }

  #block-system-main-menu {
    width: 100%;
    float: left;
    
    margin-top: 100px;
    position: relative;
  }

  #block-system-user-menu {
    position: absolute;
    top: 0;
    right: 0;

    @media #{$mq-not-desktop} {
      position: relative;
      width: 100%;
      float: left;
      margin-top: 0.5em;
      margin-top: 0.5rem;
    }

    a[href='/user'] {
      @extend .icon;
      @extend .gear;
    }

    a[href='/messages'] {
      @extend .icon;
      @extend .mail;
    }

    a[href='/user/logout'] {
      @extend .icon;
      @extend .door;
    }

    a:before {
      margin-right: 0.5em;
      margin-right: 0.5rem;
    }
  }

  #block-system-main-menu:before {
    content: url('/sites/all/themes/panda/images/home.png');
    position: absolute;
    top: -114px;
    left: 1em;
    left: 1rem;
  }
}

/*RESPONSIVE*/
html {
  
  // Slide Pane Menus

  //Functional Styling
  .navbar {
    width: 100%;
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    height: 50px;
    display: none;

    @media #{$mq-not-desktop} {
      display: block;
    }

    .content {
      padding: 0.5rem;
      //background: $color_sec;
      background: #404040;

      .site-name {
        color: #DEDEDE;
        font-size: 1.3em;
        font-size: 1.3rem;
        font-family: $header_font;
        float: right;
        margin-right: 0.5em;
        margin-right: 0.5rem;

        &:before {
          margin-right: 0.5em;
          margin-right: 0.5rem;
        }
      }
    }
  }

  .main-pane-outer {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .main-pane-inner {
    position: relative;
    width: 100%;

    @include panda-transition(200ms ease);

    left: 0;
  }

  .region-navigation {
    //transition: 200ms ease;
    //-webkit-transition: 200ms ease;
    //-moz-transition: 200ms ease;

    box-sizing: border-box;

    @media #{$mq-not-desktop} {
      display: none;

      display: block;
      position: fixed;
      top: 0;
      left: -280px;
      height: 100%;
      overflow-y: auto;
      width: 280px;
      padding: 45px 0 0 0;

      & > .content {
        @include panda-transition(200ms ease);

        left: -100%;
        position: absolute;
        padding: 0.5rem;
      }
    }    
  }

  // Menu Is Active

  @media #{$mq-not-desktop} {

    #page-wrapper {
      padding-top: 48px;
    }

    .js-nav {
      .main-pane-inner{
        left: 280px; //this is because fixed pos items on a translated block have issues (they aren't fixed)
      }

      .region-navigation {
        left: 0;
        z-index: 5;
        background: none;

        & > .content {
          left: 0;
        }
        

        #block-system-main-menu > .content > ul.menu li {
          width: 100%;
        }
      }
    }
  }

} /*end of HTML wrapper*/

