// ==================
//      Sprites
// ==================

@mixin icon-style() {
  font-family: PandaIcons;
  font-size: 2.5em;
  font-size: 2.5rem;
  line-height: 1em;
  line-height: 1rem;
  -webkit-font-smoothing: antialiased;
  color: $color_light_gray;
  @include panda-transition(500ms ease);
}

.icon {
  position: relative;
  display: inline;

  &:before {
    @include icon-style();
  }

  &.active:before {
    color: $color_sec;
  }

  &.no-hover.active:before {
    color: $color_light_gray;
  }

  &.xbox:before     {content: 'b';}
  &.psn:before      {content: 'd';}
  &.wii:before      {content: 'c';}
  &.steam:before    {content: 'a';}
  &.quote:before    {content: 'u';}
  &.flag:before     {content: 'x';}
  &.reply:before    {content: 't';}
  &.bookmark:before {content: 'z';}
  &.comment:before  {content: 'i';}
  &.menu:before     {content: 'q';}
  &.hat:before      {content: 'l';}
  &.close:before    {content: 'p';}
  &.star:before     {content: 'v';}
  &.lock:before     {content: 'A';}
  &.door:before     {content: 'B';}
  &.gear:before     {content: 'C';}
  &.mail:before     {content: 'D';}
  &.more:before     {content: 'E';}
  &.edit:before     {content: 's';}
  &.delete:before   {content: 'p';}
  &.first:before    {content: 'P';}
  &.prev:before     {content: 'Q';}
  &.next:before     {content: 'S';}
  &.last:before     {content: 'R';}

  .tooltip {
    display: none;
    position: absolute;
    top: -44px;
    left: -10px;
    z-index: 10;

    padding: 0.1em 0.5em;
    padding: 0.1rem 0.5rem;

    font-size: 0.9em;
    font-size: 0.9rem;
    background: #404040;
    text-transform: capitalize;

    color: white;
    border-radius: 2px;

    @include panda-transition(500ms ease);

    &:before {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      bottom: -12px;
      left: 15px;
      border-style: solid;
      border-color: #404040 transparent transparent transparent;
      border-width: 6px;
    }
  }

  &.active .tooltip {
    display:block;
  }
}
